# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.bin
*.inp
*.rpt


# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Ignore all files in bat_scripts folders, but not the bat_scripts folder itself
bat_scripts/*
!bat_scripts/
datasets/*
!datasets/